@model ITAssessmentSystem.Models.RUBRICS_DATA
<td colspan="9">
    @using (Ajax.BeginForm("SaveRubric", "Rubric", new AjaxOptions { UpdateTargetId = Model.RUBRIC_ROWID.ToString() }))
{
    <table class="table fixedTable" cellpadding="5">
        <tr>
            <td>
                @Html.HiddenFor(model => model.RUBRIC_ROWID)
                @Html.TextAreaFor(model => model.OUTCOMES)
            </td>
            <td>
                @Html.TextAreaFor(model => model.PERFORMANCE_INDICATOR, new { @rows = 4 })
            </td>
            <td>
                @Html.TextAreaFor(model => model.TOPIC, new { @rows = 4 })
            </td>
            <td>
                @Html.TextAreaFor(model => model.POOR, new { @rows = 4 })
            </td>
            <td>
                @Html.TextAreaFor(model => model.DEVELOPING, new { @rows = 4 })
            </td>
            <td>
                @Html.TextAreaFor(model => model.DEVELOPED, new { @rows = 4 })
            </td>
            <td>
                @Html.TextAreaFor(model => model.EXEMPLARY, new { @rows = 4 })
            </td>
            <td>
                @Html.TextAreaFor(model => model.EXPECTATION_LEVEL)
            </td>
            <td>
                <input type="submit" value="Save" class="btn btn-default" />
                @Ajax.ActionLink("Cancel", "EditCancel", "Rubric", new { rowID = Model.RUBRIC_ROWID }, new AjaxOptions
           {
               UpdateTargetId = @Model.RUBRIC_ROWID.ToString(),
               HttpMethod = "GET"
           },
           new { @class = "btn btn-primary" })
            </td>
        </tr>
    </table>
}
</td>
