@model IEnumerable<ITAssessmentSystem.Models.spRUBRICGETSEARCHRESULTS_Result>
<br />
<table class="table table-bordered table-hover fixedTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OUTCOMES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERFORMANCE_INDICATOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOPIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEVELOPING)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEVELOPED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXEMPLARY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXPECTATION_LEVEL)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="@item.RUBRIC_ROWID">
            @{Html.RenderPartial("_RubricRows", item);
            }
        </tr>
    }
</table>
@Html.ActionLink("Send This Rubric", "Send", "Rubric", new { @class = "btn btn-primary" })
@Html.ActionLink("Edit", "Edit", "Rubric", new { outcome = Model.FirstOrDefault().OUTCOMES }, new { @class = "btn btn-primary" })