@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ITAssessmentSystem.Models.ASSESSMENT_DATA>


<table class="table">
    <tr>
        
        <th>

            @Html.ActionLink("Professor", "AllData", new { param = Request.QueryString["param"], page = 1, colPram = "PROF_EMAILID", sortOrder = ViewBag.Order })
        </th>
        <th>

            @Html.ActionLink("Department", "AllData", new { param = Request.QueryString["param"], page = 1, colPram = "DEPARTMENT", sortOrder = ViewBag.Order })
        </th>
        <th>
            @Html.ActionLink("SEMESTER", "AllData", new { param = Request.QueryString["param"], page = 1, colPram = "SEMESTER", sortOrder = ViewBag.Order })
        </th>
        <th>

            @Html.ActionLink("COURSE", "AllData", new { param = Request.QueryString["param"], page = 1, colPram = "COURSE", sortOrder = ViewBag.Order })
        </th>
        
        <th>
            @Html.ActionLink("PERFORMANCE_INDICATOR", "AllData", new { param = Request.QueryString["param"], page = 1, colPram = "PERFORMANCE_INDICATOR", sortOrder = ViewBag.Order })
        </th>
        <th>

            @Html.ActionLink("Topic", "AllData", new { param = Request.QueryString["param"], page = 1, colPram = "TOPIC", sortOrder = ViewBag.Order })
        </th>
        <th>
            @Html.DisplayName("POOR")
        </th>
        <th>

            @Html.DisplayName("DEVELOPING")
        </th>
        <th>

            @Html.DisplayName("DEVELOPED")
        </th>
        <th>

            @Html.DisplayName("EXEMPLARY")
        </th>



    </tr>

    @foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.PROF_EMAILID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTMENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEMESTER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COURSE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERFORMANCE_INDICATOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOPIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEVELOPING)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEVELOPED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXEMPLARY)
        </td>
       



    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("AddressList", "Home", new { page, param = Request.QueryString["param"], colPram = Request.QueryString["colPram"], sortOrder = Request.QueryString["sortOrder"] }));
