@model IEnumerable<ITAssessmentSystem.Models.spRUBRICGETSEARCHRESULTS_Result>

<form id="xxx" method="post">

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.Hidden("RANDOM_STRING", Request.QueryString["linkid"])
        <div class="form-group">
            @Html.Label("Course", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Course")
                @Html.Label("For Example - IT 478")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Department", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Department", Model.First().DEPARTMENT_CD, new { @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Semester", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.TextBox("Semester")*@
                @Html.DropDownList("Semester", new List<SelectListItem>
                 {
                    new SelectListItem{ Text="FALL", Value = "FALL " },
                    new SelectListItem{ Text="SPRING", Value = "SPRING " },
                    new SelectListItem{ Text="SUMMER", Value = "SUMMER " },

                 })
                @Html.DropDownList("YEAR", new List<SelectListItem>
                 {
                    new SelectListItem{ Text="2015", Value = "2015" },
                    new SelectListItem{ Text="2016", Value = "2016" },
                    new SelectListItem{ Text="2017", Value = "2017" },
                    new SelectListItem{ Text="2018", Value = "2018" },
                    new SelectListItem{ Text="2019", Value = "2019" },
                    new SelectListItem{ Text="2020", Value = "2020" }
                 })

            </div>
        </div>
        <div class="form-group">
            @Html.Label("Instructor Email ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Instructor_Email", Model.First().Instructor_EmailID, new { @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Outcome", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Outcome", Model.First().OUTCOMES, new { @readonly = "readonly" })
            </div>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Topic
                    </th>
                    <th>
                        Poor
                    </th>
                    <th>
                        Developing
                    </th>
                    <th>
                        Developed
                    </th>
                    <th>
                        Exemplary
                    </th>
                </tr>
            </thead>

            <div id="reset">

                @foreach (var item in Model
                as List<ITAssessmentSystem.Models.spRUBRICGETSEARCHRESULTS_Result>)
                {
                    <tr>
                        <td>
                            @item.TOPIC
                        </td>
                        <td>
                            <input type="radio" name="@item.RUBRIC_ROWID" value="0" class="rubs" />
                        </td>
                        <td>
                            <input type="radio" name="@item.RUBRIC_ROWID" value="1" class="rubs" />
                        </td>
                        <td>
                            <input type="radio" name="@item.RUBRIC_ROWID" value="2" class="rubs" />
                        </td>
                        <td>
                            <input type="radio" name="@item.RUBRIC_ROWID" value="3" class="rubs" />
                        </td>
                    </tr>
                }

            </div>
        </table>
        <br />
        <div class="form-group">
            <div class="col-md-2">
                <input type="button" value="Insert Record" class="btn btn-primary" onclick="submitRecord(this);" />
            </div>
            <div class="col-md-2">
                @Ajax.ActionLink("Reset All Record", "Reset", "Assessment", new AjaxOptions { UpdateTargetId = "currentRecord" }, new { @class = "btn btn-danger" })

            </div>
            <div class="col-md-2">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>

    </div>
</form>

<div id="currentRecord">
    @Html.Partial("_InstructorInput")
</div>

@Scripts.Render("~/bundles/jquery")
<script>
    function submitRecord(btnClicked) {
        var $form = $(btnClicked).parents('form');
        var tbl = $('#currentRecord');
        $.ajax({
            type: "POST",
            url: '@Url.Action("InsertRecord", "Assessment")',
            data: $form.serialize(),
            error: function (xhr, status, error) {
                //do something about the error
            },
            success: function (response) {
                //resets the previous selection for entering the next input
                $('input[class="rubs"]').attr('checked', false);
                tbl.empty().append(response);
            }
        });
    }

    function ResetRecord() {

        var reply = confirm("Are you sure?");
        if (reply) {
            var tbl = $('#currentRecord');
            $.ajax({
                type: "GET",
                url: '@Url.Action("Reset", "Assessment")',
                error: function (xhr, status, error) {
                    //do something about the error
                },
                success: function (response) {
                    //do something with response
                    tbl.empty().append(response);
                }
            });
        }
    }

</script>