@model IEnumerable<ITAssessmentSystem.Models.spINSTRUCTORGETALLRECORDS_Result>
@{
    ViewBag.Title = "All Instructors";
    Layout = "~/Views/Shared/_AdministratorLayout.cshtml";
}
<h2>All Instructors List</h2>

@Html.ActionLink("Add New Instructor", "Insert", "Instructor", new { @class = "btn btn-primary" })
<br/>
<br />
<table class="table table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.INSTRUCTOR_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INSTRUCTOR_EMAILID)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        using (Html.BeginForm("DeleteRecord", "Instructor", new { email = item.INSTRUCTOR_EMAILID }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.INSTRUCTOR_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.INSTRUCTOR_EMAILID)
                </td>
                <td>
                    @Html.ActionLink("EditRecord", "Edit", new { email = item.INSTRUCTOR_EMAILID }, new { @class = "btn btn-primary" }) |
                    <input type="submit" value="Delete" class="btn btn-danger" onclick=" confirmdelete();" />
                </td>
            </tr>
        }
    }
</table>
<script>
    function confirmDelete() {
        var reply = confirm("Are you sure?");
        if (reply)
            return true;
        else
            return false;
    }

</script>
