@model ITAssessmentSystem.Models.USER_INFO

@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}

<h2>Insert New Record</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Instructor Information</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PROF_NAME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PROF_NAME)
                @Html.ValidationMessageFor(model => model.PROF_NAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PROF_EMAILID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PROF_EMAILID)
                @Html.ValidationMessageFor(model => model.PROF_EMAILID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
